/* ----------------------------- Common Design Starts from here ----------------------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

ol, ul, p {
    padding: 0;
    margin: 0;
}

.error{
    color: rgba(220, 53, 69, 1);
}

.banner{
    background-color: #007bff;
    color: #fff;
}

.required{
    color: red;
}

.truncate-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3em; /* Approximate height for three lines */
}
/* ----------------------------- Common Design ends here ----------------------------------------- */





/* --------------------------- Main container design start --------------------------- */
.main-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.body-wrapper {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.main-content{
    flex: 1;
}

.company-details{
    padding-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: #5d4b4b;
    font-size: 30px;
}

.company-name h1{
    font-size: 30px;
    margin: 0;
}

.company-logo, .user-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6c757d;
    border-radius: 50%;
}

.company-logo img{
    padding: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-image img{
    padding: 2px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.user-details{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    padding: 10px 2px;

}

.navbar-menu{
    border-bottom: 1px solid gray;
}

.navbar-menu ul{
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-menu ul li{
    padding: 0 5px;
}
/* --------------------------- Main container design end --------------------------- */



/* --------------------------- Sidebar Design Start From Here ------------------------------------ */
.toggle-sidebar, .logout i{
    font-size: 28px;
    cursor: pointer;
}

.logout a{
    color: rgb(33, 37, 41);
}

.sidenav {
    width: 260px;
    background-color: #343a40;
    overflow: auto;
    padding: 8px;
    transition: width 0.3s;
    box-sizing: border-box;
}

.sidenav a, .sidenav li{
    color: rgb(194, 199, 208);
}

.sidenav hr{
    border: 1px solid #80808026;
    margin: 2px 0;
}

.sidenav.show{
    display: block;
}

.sidenav.hide{
    width: 0;
    padding: 0;
}

.width{
    width: 100%;
}

.rotate{
    transform: rotate(+90deg);
}
  
.sidenav a:hover, .sidenav li:hover,
.sidenav a:active, .sidenav li:active  {
    color: #f1f1f1;
    background: gray;
}

.menu-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 4px;
    color: #fff;
    font-size: 14px;
}

.menu-title p{
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-title p i{
    width: 20px;
    font-size: 18px;
}

.menu-item .menu-title.active, .menu-item .menu-title.active:hover  {
    color: #f1f1f1;
    background: #00aaffcf;
}

.sub-menu-item .menu-title.active, .sub-menu-item .menu-title.active:hover  {
    color: #f1f1f1;
    background: #00bfff;
}

.sub-menu1-item .menu-title.active, .sub-menu1-item .menu-title.active:hover  {
    color: #f1f1f1;
    background: #00bfff99;
}

.sub-menu2-item .menu-title.active, .sub-menu2-item .menu-title.active:hover  {
    color: #f1f1f1;
    background: #00caff99;
}

.sub-menu-item {
    padding-left: 25px;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
}

.sub-menu, .sub-menu1, .sub-menu2 {
    display: none;
}

.sub-menu.show, .sub-menu1.show, .sub-menu2.show {
    display: block;
}

.sub-menu1-item {
    padding-left: 25px;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
}

.sub-menu2-item {
    padding-left: 25px;
    background-color: #5a5a5a;
    color: #fff;
    cursor: pointer;
}

hr {
    border: 1px solid #ccc;
}

/* --------------------------- Sidebar Design End At Here ------------------------------------ */



/* --------------------------- scrollbar design end here ------------------------------------ */
/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3; 
}
/* --------------------------- scrollbar design end here ------------------------------------ */






/* ---------------------------------- main footer design start here --------------------------- */
footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    font-size: 16px;
    color: gray;
    width: 100%;
    padding: 10px 2%;
    margin-top: 10px;
    box-sizing: border-box;
}
/* ---------------------------------- main footer design end here --------------------------- */





/* -------------------------- Old Styles part starts here ------------------------------- */
.content-wrapper{
    background: transparent;
}

.search{
    display: flex;
}

.hidden {
    display: none;
}


/* -------------------------------------- Table custom design starts --------------------------------------------------- */
.show-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.caption {
    caption-side: top;
    text-align: center;
    background: green;
    color: white;
    font-size: 18px;
    padding: 5px 0;
}

.sub-caption {
    caption-side: top;
    background: #198754;
    color: white;
    font-size: 18px;
    padding: 4px 0;
    padding-left: 10px;
}

.show-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px 4px;
}

.show-table tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.invoice-table{
    width: 80%;
}

.invoice-table tr td:nth-child(2){
    text-align: right !important;
    letter-spacing: 0.02em;
}

thead tr:nth-child(1){
    background: #20c997;
}

/* thead tr:nth-child(2){
    background: #b3c7c1;
} */

thead tr:nth-child(2) th{
    margin: 0;
    padding: 0;
    border: 0;
}

.product-table, .batch-table, .patient-table{
    font-family: arial, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.product-table td, th,
.batch-table td, th , 
.patient-table td, th{
    border: 1px solid #dddddd;
    font-size: 14px;
    padding: 1px 4px;
}

.product-table th, .batch-table th , .patient-table th{
    text-align: center;
}

.batch-table tbody tr:hover, 
.patient-table tbody tr:hover,
.patient-table tbody tr:focus{
    background: rgb(0, 217, 255);
    cursor: pointer;
}

input[type=checkbox]{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin: 5px;
}

.add-form{
    padding-top: 10px;
    border-top: 1px solid #8080808c;
}
/* ---------------------------------------- Table custom design end ----------------------------------------------------- */



/* -------------------------------------- Modal part css start here --------------------------------------------------- */
.modal-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5072;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-subject {
    position: relative;
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    width: 500px;
    max-width: 100vw;
    max-height: 98vh;
    overflow: auto;
}

.modal-subject form{
    border: 1px solid #8080808c;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

.modal-heading{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

.modal-heading h3{
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.close-modal {
    color: #1a1818;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.close-modal:hover {
    color: #aaa;
}
/* -------------------------------------- Modal part css end here --------------------------------------------------- */



/* -------------------------------------- Form inputs custom design starts --------------------------------------------------- */
.form-input-group{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 8px;
}

.form-input, select {
    font-size: 14px;
    border: 1px solid rgb(222, 226, 230);
    padding: 4px 8px;
    height: 38px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input:focus, select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
    box-sizing: border-box;
}

.input-small{
    display: block;
    width: 100%;
    height: 28px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
}

.select-small{
    display: block;
    width: auto;
    height: 28px;
    padding: 0px 18px 0px 4px;
    font-size: 12px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
}

.input-small:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

/* #search{
    width: 50%;
    margin-left: 5px;
} */
/* -------------------------------------- Form inputs custom design end ----------------------------------------------------- */



/* -------------------------------------- Buttons custom design start ----------------------------------------------------- */
.btn-blue{
    padding: 6px 12px;
    color: #fff;
    background: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.btn-show{
    padding: 5px 10px;
    color: #fff;
    background: #46618c;
    border: 1px solid #46618c;
    border-radius: 5px;
    font-size: 14px;
}

.btn-blue:hover{
    background: #0b5ed7;
    border-color: #0a58ca;
}

.btn-red{
    padding: 6px 12px;
    color: #fff;
    background: #fd0d0de0;
    border: 1px solid #fd0d0de5;
    border-radius: 5px;
    font-size: 16px;
}

.btn-red:hover{
    background: #ff1010e0;
    border-color: #fc1717de;
}

.button{
    margin-top: 20px;
    gap: 80px;
}

.button .btn-red, .button .btn-blue{
    width: 100px
}

.addButton{
    margin: 15px 0;
    padding: 5px 20px;
}

.print-receipt i{
    font-size: 30px;
    border: 1px dotted blue;
}

.add {
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
}
/* -------------------------------------- Buttons custom design end ----------------------------------------------------- */



/* -------------------------------------- Search by input css start here -------------------------------------------------*/
/* select all the div ends with id '-list' and all the div starts with id 'update-' */
div[id$="-list"], div[id^="update-"] {
    position: absolute;
    top: 57px;
    width: 100%;
    box-sizing: border-box;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    background: #fff;
    z-index: 10000;
}


div[id$="-list"] ul, div[id^="update-"] ul {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid gray;
    width: 100%;
    box-sizing: border-box;
}

div[id$="-list"] li, div[id^="update-"] li {
    padding: 0 10px;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

div[id$="-list"] li:hover, div[id^="update-"] li:hover {
    background-color: #00afffb0;
    cursor: pointer;
}

div[id$="-list"] li:focus, div[id^="update-"] li:focus {
    background-color: #00afffb0;
}

#product-list, #update-product{
    max-height: 100%;
    position: initial;
    overflow-x: auto;
    font-size: 10px; 
}

#product-list tbody tr:focus, #update-product tbody tr:focus{
    background-color: #00afffb0;
    border: none;
}

#product-list tbody tr:hover, #update-product tbody tr:hover{
    background-color: #00afffb0;
    cursor: pointer;
}
/* -------------------------------------- Search by input css end here -------------------------------------------------*/



/* ------------------------------------ Employee Details Design --------------------------------------------------------*/
.details-head{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.image-round{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 40px;
}

.image-round img{
    padding: 1px;
    border-radius: 50%;
}

.name{
    color: aqua;
    font-size: 30px;
}

.details-table{
    border:1px solid #00e3f7; 
    overflow: hidden;
    padding: 20px 30px;
    margin: 30px 0;
}

.each-row{
    border-bottom:1px solid #00e3f7; 
    padding: 10px 0;
}

.each-row:last-child{
    border-bottom: none;
}

.each-row div:nth-child(2){
    border-right: 1px solid #00e3f7;
}

.bold{
    font-weight: 600;
}

.details ul li,
.employeeeducationdetails ul li, 
.employeetrainingdetails ul li, 
.employeeexperiencedetails ul li, 
.employeeorganizationdetails ul li{
    margin-bottom: 1px;
    list-style: none;
    background-color: #04f8c1;
    padding: 5px 10px;
    background-image: url('../images/angle-arrow-down.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Move the background image 20px from the right */
    background-size: 20px;
}

.education, .training, .experience, .organization, .payroll {
    display: none;
}

.transaction{
    margin: 20px 0;
}

.icon-center i{
    font-size: 120px;
    margin-top: 20px;
    color: blue;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.transaction_grid, .update_transaction_grid {
    margin-top: 10px
}

.print-button{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* -------------------------- Old Styles part end here ------------------------------- */







.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #e0e0e0;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-text {
    margin-top: 15px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
